body {
  background-color: greenyellow;
}

h1 {
  color: Green;
  background-color: blue;

}

hr{
  border-style:none;
  border-top-style:dotted;
  width: 5%;
  border-width:3px;
}

  .Messi:hover {
  border-radius: 50%;
    
  }

.Jordan:hover {
  opacity: .5;
}

.mj {border-radius: 100%;}
