body {
  background-color: greenyellow;
}

h1 {
  color: Green;
  background-color: blue;

}

hr{
  border-style:none;
  border-top-style:dotted;
  width: 5%;
  border-width:3px;
}

  .Messi {
  border-radius: 50%;
    
  }

.Jordan:hover .middle {
  opacity: 1;
}
